<<<<<<< HEAD
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
=======
  .example-full-width {
    width: 100%;
  }
>>>>>>> 507f56f8387fd36cd952e37e6eee1f227dd62b00
